@import "restyle";
@import "footer";
@import "header";

.section_01_bg{
    background-image: url(../images/atype/Atype_img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


.visual_title{
    text-align: center;

    h1{
        color:#fff;
        font-size: 100px;

        span{
            font-size: 150px;
        }
    }
}

#sec03{
    position: relative;
    .side_content_wrap{
        position: absolute;
        top:0;
        left: 0;
        background-color: #08070D;
        width:18.75vw;
        height: 100vh;

        .side_content{
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%, -50%);


            .side_content_title{
                h1{
                    font-size: 35px;
                    font-weight: 900;
                    color:white;
                    span{
                        font-size: 60px;
                    }
                }
                em{
                    font-style: normal;
                    display: block;
                    width:100%;
                    background-color: white;
                    border-radius: 8px;
                    padding: 10px 0px;
                    text-align: center;
                    font-size: 24px;
                    font-weight: 900;

                }
            }

            .side_content_text{
                margin-top: 30px;
                span{
                    background-color: white;
                    width:100%;
                    height: 1px;
                    display: block;
                    margin-bottom: 10px;
                }
                p{
                    font-size: 16px;
                    color:white;
                }
            }
        }
    }
}


.sec03_content_title{
    p{
        font-size: 16px;
        color:#717071;
        font-weight: 900;
    }    
}





// .sec03_content{
//     padding: 15px;
// }

.sec02_content_title{
    padding-left: 16px;
    margin-bottom: 37px;
    h1{
        font-size: 32px;

        span{
            font-size: 48px;
            i{
                color:#E66D6C;
                font-style: normal;
            }
        }
    }
}


.sec02_content_text{
    padding: 24px 0px;

    p{
        font-size: 24px;
    }
}


.sec_atype_image{
    margin-top: 50px;
}







/* 1200px 이하 디바이스 */

@media (min-width:$layout-desktop) and (max-width:$layout-desktop-lg){


}

/* 768 디바이스  */
@media (min-width:$layout-tablet) and (max-width:$layout-tablet-lg){

    #sec03 .side_content_wrap{
        position: relative;
        width:100vw;
        background-color: #ECECEC;
    }

    #sec03 .side_content_wrap .side_content .side_content_title h1{
        font-size:50px;
        color:#333333;
        span{
            font-size: 100px;
        }
    }
    #sec03 .side_content_wrap .side_content .side_content_title em{
        background-color: #08070D;
        color:white;
        font-size: 32px;
    }
    #sec03 .side_content_wrap .side_content .side_content_text p{
        font-size: 24px;
        color:#08070D;
        &:last-child{
            font-weight: 900;
        }
    }
    #sec03 .side_content_wrap .side_content .side_content_text span{
        background-color: #08070D;
    }

}

/* 767 이하 디바이스  */
@media (max-width : $layout-mobile) {


    .section_01_bg .gnb .logo img{
        padding: 15px;
    }

    .section_01_bg .gnb{
        height: auto;
    }
    
    .burger-icon .burger-sticks{
        width:24px;

        &::before{
            top:5px;
        }
        &::after{
            top:-5px;
        }
    }




    .section_01_bg{
        background-image: url(../images/atype/320/Atype_img.png);
    }

    .visual_title{
        h1{
            span{
                font-size: 65px;
            }
            font-size: 40px;
        }
    }

    .sec02_content_title{
        h1{
            font-size: 14px;
            span{
                font-size: 24px;
            }
        }
    }
    .sec02_content_text{
        p{
            font-size: 14px;
        }
    }


    #sec03 .side_content_wrap{
        position: relative;
        background-color: #ECECEC;
        width: 100vw;
    }

    #sec03 .side_content_wrap .side_content .side_content_title h1{
        color:#333333;
    }
    #sec03 .side_content_wrap .side_content .side_content_text p{
        color:#333333;
        &:last-child{
            font-weight: 900;
        }
    }
    #sec03 .side_content_wrap .side_content .side_content_text span{
        background-color: #333333;
    }







    .footer_logo{
        padding: 25px 0;
    }
    .footer_content{
        padding: 25px 0;
        p{
            font-size: 14px;
            span{
                font-size: 16px;
            }
        }
    }
}