@import "restyle";
@import "footer";
@import "swiper";
@import "header";



.section_01_title{
    padding: 16px;
    
    h1{
        font-size: 48px;
    }

    .line01{
        display: inline-block;
        width:134px;
        height: 4px;
        background-color: #11172B;
    }
    .line02{
        position:relative;
        left: -4px;
        display: inline-block;
        width:46px;
        height: 4px;
        background-color: #E66D6C;
    }
}



.slider_content_wrap{
    height: 610px;              //px
    position: relative;


    .slider_content{
        position: absolute;
        top:40%;
        transform: translateY(-50%);

        p{
            font-size: 24px;
        }
    }

    .slider_content_image{
        position: absolute;    
        bottom:0;
    }
}


.pd-t{
    padding: 3.5px 0px;
}



.sec_05_content{
    padding: 30px;
    p{
        font-size: 24px;
        font-weight: bold;
    }
    span{
        display: block;
        font-size: 24px;
        font-weight: bold;
        padding-left: 30px;
        margin-bottom: 10px;
    }
}






// 부트스트랩 container-fluid 수정

.container-fluid{
    padding: 0;
}



#sec06{
    position: relative;

    
    .side_appliances{
        position: absolute;
        left: 0;
        top:0;
        background-color: #11172B;
        height:100vh;

        h1{
            color:white;
            writing-mode: tb-rl;
            padding: 35px
        }
    }
}

.appliances_wrap{
    background-color: #EEEEEF;
    position: relative;
    left: 95px;
    top:0;
    height: 100vh;
}
.app_content_img{
    padding: 30px 0px;
    img{
        width:35%;
    }
}
.app_content_text{
    h1{
        font-size: 24px;
        font-weight: 900;
    }
}

.sec06_content_img01{
    margin-top: 59px;
}
.sec06_content_img03{
    margin-top: 33px;
}




.sec_07_content_title{
    background-color: #11172B;
    margin-bottom: 50px;

    h1{
        font-size: 28px;
        color:white;
        font-weight: 900;
        text-align: center;
        padding: 15px;
        span{
            font-weight: 400;
            font-size: 20px;
        }
    }
}



.sec_07_content_wrap{
    display: flex;
    .sec_07_content_img{
        margin: 0;
    }
    .sec_07_content_textbox{
        margin: 0;
        padding: 0px 0px 0px 30px;

        em{
            font-style: normal;
            color:#545D71;
            font-size: 24px;
            font-weight: 900;
        }
        p{
            font-size: 16px;
        }
    }

}







/* 1200px 이하 디바이스 */

@media (min-width:$layout-desktop) and (max-width:$layout-desktop-lg){


}

/* 768 디바이스  */
@media (min-width:$layout-tablet) and (max-width:$layout-tablet-lg){
    .slider_content_wrap{
        height: auto;

        .slider_content{
            position: unset;
            transform:none;
        }
        .slider_content_image{
            right:0;
        }
    }

    .overforw-h{
        overflow: hidden;
      }


      .appliances_wrap{
          background-color: white;
      }

      
      .side_appliances{
          height:231vh !important;
          z-index: 1;
      }

      .sec_07_content_title{
          h1{   
              font-size: 22px;
              span{
                font-size: 16px;
              }
          }
      }

}

/* 767 이하 디바이스  */
@media (max-width : $layout-mobile) {

    .section_01_title h1{
        font-size: 24px;
    }

    .slider_content_wrap{
        height: auto;
        .slider_content{
            position: unset;
            transform:none;

            p{
                font-size: 14px;
            }
        }
        .slider_content_image{
            top:100%;
        }
    }

    .overforw-h{
        overflow: hidden;
    }


    .sec_05_content{
        padding: 30px 16px;
        p{
            font-size: 12px;
        }
        span{
            font-size: 12px;
        }
    }
    #sec06 .side_appliances{
        z-index: 1;
        height: 217vh;
        h1{
            padding: 12px;
            font-size: 12px;
        }
    
    }
    .appliances_wrap{
        left:0;
        background-color: white;
        height: 110vh;
        .app_content_text{
            h1{
                font-size: 16px;
            }
            p{
                font-size: 12px;
            }
        }
    }



    .sec_07_content_title{
        h1{
            font-size: 20px;
            span{
                font-size: 13px;
            }
        }
    }


    .sec_07_content_wrap{
        .sec_07_content_img{
            img{
                width:30px;
            }
        }
        .sec_07_content_textbox{
            em{
                font-size: 14px;
            }
        }
    }



    .control_img{
        padding: 10px 0;
    }



    .mt-70{
        margin-top: 0;
    }
    .mt-10{
        margin-top: 0;
    }



    .footer_logo{
        padding: 25px 0;
    }
    .footer_content{
        padding: 25px 0;
        p{
            font-size: 14px;
            span{
                font-size: 16px;
            }
        }
    }
}