@import "restyle";
@import "footer";
@import "header";



.section_01_bg{
    position: relative;
    background-image: url(../images/main/sec1_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    .gnb{
        position:absolute;
        z-index: 1;
        top:0;
        left: 50%;
        transform: translateX(-50%);
        height: 100px;
        width:100vw;
        text-align:center;
        background-color: white;
        .logo{
            img{
                padding: 33px 0;
            }
        }

        
    }

    .visual_title{
        img{
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
        }
    }
}

.section_02_bg{
    background-image: url(../images/main/sec2_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.sec03_content{
    h1{
        font-size: 32px;
    }
    p{
        font-size: 24px;
        margin-top: 27px;
        margin-bottom: 32px;
    }
}


.section_04{
    background-color: #ECECEC;
}


.content_title{
    padding: 0px 15px;
}


.content_text{
    height: 100px;
    padding: 0px 15px;
    margin: 24px 0px;
    p{
        font-size: 16px;
    }
}


.guide{
    padding: 0px 15px;
    span{
        &:first-child{
            display: inline-block;
            width:135px;
            height: 4px;
            background-color: #11172B;
        }
        &:last-child{
            display: inline-block;
            width:46px;
            height: 4px;
            background-color: #E66D6C;
            position: relative;
            right: 4px;
        }
    }
}






.sec5_content{
    background-color: #ECECEC;
    position:relative;
    transition: all 0.7s;
    &:hover{
        bottom:20px;
        transition: all 0.7s;
    }
    .sec5_content_images{
        width:100%;
        height: 460px;              // px
        overflow: hidden;
        position:relative;

        &:hover .sec5_image_hover{
            opacity: 1;
            transition: all 0.7s;
        }

        .sec5_image_hover{
            position:absolute;
            width:100%;
            height: 100%;
            background-color: rgba(0,0,0,0.7);
            top:0;
            opacity: 0;
            cursor: pointer;
            a{
                display: block;
                position: absolute;
                top:50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color:white;
                width:100%;
                text-align: center;
            }
        }
    }
    .sec5_content_title{
        padding: 16px;

        h1{
            font-size: 32px;
            span{
                color:#E66D6C;
            }
        }
        em{
            font-style: normal;
            font-size: 24px;
        }
        p{
            font-size: 16px;
        }
    }

    .sec5_content_text{
        padding: 16px;
        p{
            font-size: 16px;
        }
    }
}





/* 1200px 이하 디바이스 */

@media (min-width:$layout-desktop) and (max-width:$layout-desktop-lg){


}

/* 768 디바이스  */
@media (min-width:$layout-tablet) and (max-width:$layout-tablet-lg){
    .section_01_bg{
        background-image: url(../images/main/768/sec1_bg.png);
    }

    .section_02_bg{
        background-image: url(../images/main/768/sec2_bg.png);
    }


    .content_title{

        h1{
            font-size: 32px;
        }
    }
    .content_text{
        height: 145px;
    }

    .sec5_content {

        .sec5_content_title{
            h1{
                font-size: 18px;
            }
            em{
                font-size: 14px;
            }
        }
        .sec5_content_text{
            p{
                font-size: 12px;
            }
        }
        .sec5_content_images{
            height: auto ;
        }
    }

}

/* 767 이하 디바이스  */
@media (max-width : $layout-mobile) {
    
    .mb-30{
        overflow: hidden;
        display: block;
        margin-bottom: 30px;
    }


    .section_01_bg{
        background-image: url(../images/main/320/sec1_bg.png);
    }

    .section_02_bg{
        background-image: url(../images/main/320/sec2_bg.png);
    }

    .section_01_bg .gnb .logo img{
        padding: 15px;
    }

    .section_01_bg .gnb{
        height: auto;
    }

    .burger-icon .burger-sticks{
        width:24px;

        &::before{
            top:5px;
        }
        &::after{
            top:-5px;
        }
    }


    .sec03_content{
        h1{
            font-size: 24px;
        }
        p{
            font-size: 14px;
        }
    }

    .content_title{
        h1{
            font-size: 24px;
        }
    }
    .content_text{
        height: auto;
        p{
            font-size: 14px;
        }
    }


    .sec5_content .sec5_content_images{
        height: auto;
    }

    .sec5_content{
        margin: 30px 0px;
        .sec5_content_title{
            h1{
                font-size: 18px;
            }
            em{
                font-size: 14px;
            }
        }
        .sec5_content_text{
            p{
                font-size: 12px;
            }
        }
    }

    .footer_logo{
        padding: 25px 0;
    }
    .footer_content{
        padding: 25px 0;
        p{
            font-size: 14px;
            span{
                font-size: 16px;
            }
        }
    }
}